.post {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  gap: 10px;
  position: relative;
  img {
  }
  p {
    font-size: 15px;
    &:first-of-type {
      font-size: 17px;
      font-weight: bold;
    }
  }
  span {
    font-size: 12px;
    font-weight: light;
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
  }
}
