<div>
    <div className="userWrap">
        <div className="userSide">
            <img src alt="userpic" />
            <button />
        </div>
        <div className="userData">
            <p className="username" />
            <p className="shorty" />
            <p className="country" />
            <p className="city" />
        </div>
    </div>
    <div className="userWrap">
        <div className="userSide">
            <img src alt="userpic" />
            <button />
        </div>
        <div className="userData">
            <p className="username" />
            <p className="shorty" />
            <p className="country" />
            <p className="city" />
        </div>
    </div>
    <div className="userWrap">
        <div className="userSide">
            <img src alt="userpic" />
            <button />
        </div>
        <div className="userData">
            <p className="username" />
            <p className="shorty" />
            <p className="country" />
            <p className="city" />
        </div>
    </div>
    <div className="userWrap">
        <div className="userSide">
            <img src alt="userpic" />
            <button />
        </div>
        <div className="userData">
            <p className="username" />
            <p className="shorty" />
            <p className="country" />
            <p className="city" />
        </div>
    </div>
</div>
