.app-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header " "nav main ";
  -ms-grid-rows: 60px 10px 1fr;
  grid-template-rows: 60px 1fr;
  -ms-grid-columns: 2fr 10px 10fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}